@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("./assets/bg-paper.jpeg");
  font-family: "Gothic A1", sans-serif;
}

h1 {
  font-weight: 900;
}

p {
  font-weight: 600;
}

/* hides iOS video control */
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

/* Hides scroll bar */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* Swiper */
.swiper-button-next,
.swiper-button-prev {
  margin: 5%;
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    margin: 0;
  }
}
