@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("./assets/bg-paper.jpeg");
  font-family: "Poppins", sans-serif;
}

@layer components {
  .aboutSize {
    @apply text-base md:text-xl lg:text-2xl;
  }
  .aboutTitleSize {
    @apply text-4xl xl:text-6xl;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

p {
  font-weight: 600;
}

ul {
  font-weight: 600;
}

li {
  font-weight: 600;
}

button {
  font-weight: 600;
}
/* hides iOS video control */
/* *::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
} */

/* Hides scroll bar */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
